<% already_started = if group.new_record?
    false
  else
    if group.current_round > 0
      true
    else
      false
    end
  end
%>
<%= form_with(model: group, url: form_url, html: { multipart: true, class: "form-horizontal", role: "form"}) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
        <% if group.new_record? %>
          Create Group
        <% else %>
          Editing Group: <%= group.name %>
        <% end %>
      </h3>
    </div>

    <div class="card-body" data-controller="toggle-input">
      <div class="form-group row">
        <%= form.label :name, "Name", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-4">
          <%= form.text_field :name, class: "form-control", placeholder: "Group name", required: true %>
        </div>
      </div>
  
      <!-- radio -->
      <div class="form-group row ">
        <%= form.label :type, class: "col-sm-4 control-label" do %>
        System
        <% end %>
        <div class="col-sm-4">
          <div class="icheck-primary d-inline px-3">
            <%= form.radio_button :type, "Swiss", disabled: already_started,
                                  data: { action: "change->toggle-input#toggle",
                                          "toggle-input-target": "radio" } %>
            <%= form.label "type_swiss", "Swiss" %>
          </div>
          <div class="icheck-primary d-inline px-3">
            <%= form.radio_button :type, "RoundRobin", disabled: already_started,
                                  data: { action: "change->toggle-input#toggle",
                                         "toggle-input-target": "radio" } %>
            <%= form.label "type_roundrobin", "Round-Robin" %>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :rounds, "Number of Rounds", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-4">
          <%= form.number_field :rounds, class: "form-control", placeholder: "Enter number of rounds", 
                            min: 3, disabled: already_started, data: { "toggle-input-target": "field" } %>
        </div> 
      </div>

      <div class="form-group row">
        <%= form.label :rounds, "Bipartite Matching", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-4">
          <%= form.number_field :bipartite_matching, class: "form-control", placeholder: "How many initial rounds", 
                            value: group.bipartite_matching.last, disabled: already_started,
                            data: { "toggle-input-target": "field" } %>
        </div> 
      </div>

      <div class="form-group row">
        <%= form.label :points, "Points", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-2">
              <!-- text input -->
              <div class="form-group">
                <%= form.label :win_point, "Win", class: "col-form-label" %>
                <%= form.number_field :win_point, class: "form-control", step: "0.5", placeholder: "Enter ..." %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= form.label :draw_point, "Draw", class: "col-form-label" %>
                <%= form.number_field :draw_point, class: "form-control", step: "0.5", placeholder: "Enter ..." %>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <%= form.label :bye_point, "Bye", class: "col-form-label" %>
                <%= form.number_field :bye_point, class: "form-control", step: "0.5", placeholder: "Enter ..." %>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>

    </div>
    <div class="card-footer">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <%#= link_to 'Cancel', groups_admin_tournament_path(@admin_tournament), class: "btn btn-secondary" %>
    </div>
  </div>

<% end %>
