<%= form_with(model: admin_tournament, url: form_url, html: { multipart: true, class: "form-horizontal", role: "form"}) do |form| %>
  <% if admin_tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_tournament.errors.count, "error") %> prohibited this admin_tournament from being saved:</h2>

      <ul>
        <% admin_tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% already_started = admin_tournament.current_round > 0 %>
  <div class="card-body">
    <div class="form-group row">
      <%= form.label :name, "Name", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_field :name, class: "form-control", placeholder: "Tournament name" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-4 col-sm-8">
        <div class="form-check">
          <%= form.check_box :fp, class: "form-check-input" %>
          <%= form.label :fp, "Front page" %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :name, "Description", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_area :description, size: "70x3", class: "form-control", placeholder: "Tell us a bit about this tournament" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :name, "Location", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_area :location, size: "70x3", class: "form-control", placeholder: "Venue for this event" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :rounds, "Rounds", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= form.number_field :rounds, class: "form-control", disabled: already_started %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :upload_players, "Players", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <div class="input-group">
          <div class="custom-file">
            <%= form.file_field :players_file, class: "custom-input-file", accept: "text/plain", disabled: already_started %>
            <%= form.label :players_file,"Choose file", class: "custom-file-label", id: "tournament_players_file_label" %>
          </div>
       </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-default float-right" name="cancel">Cancel</button>
  </div>
<% end %>
