<%= form_with(model: admin_tournament, url: form_url, html: { multipart: true, class: "form-horizontal", role: "form"}) do |form| %>
  <% if admin_tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_tournament.errors.count, "error") %> prohibited this admin_tournament from being saved:</h2>

      <ul>
        <% admin_tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

                  <div class="form-group">
                    <%= form.label :name, "Name", class: "control-label col-sm-3" %>
                    <div class="col-sm-4">
                      <%= form.text_field :name, class: "form-control", placeholder: "Tournament name" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= form.label :rounds, "Number of rounds", class: "control-label col-sm-3" %>
                    <div class="col-sm-1">
                      <%= form.number_field :rounds, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= form.label :upload_players, "Upload players", class: "control-label col-sm-3" %>
                    <div class="col-sm-4">
                    <div class="input-group">
                      <div class="custom-file">
                        <%= form.file_field :players_file, class: "custom-input-file", accept: "text/csv" %>
                        <%= form.label :players_file,"Choose file", class: "custom-file-label", id: "tournament_players_file_label" %>
                      </div>
                    </div>
                    </div>
                  </div>

                <div class="actions">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

<% end %>
