
<% content_for :page_title do %>Tournaments<% end %>
<div class="card card-primary card-outline">
  <div class="card-body table-responsive p0">

  <table class="table table-striped projects text-nowrap">
    <thead>
      <tr>
        <th style="width: 5%"></th>
        <th style="width: 20%">Name</th>
        <th style="width: 5%"></th>
        <th>Progress</th>
        <th style="width: 8%" class="text-center">Status</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_tournaments.each do |tournament| %>
        <% percentage = tournament.percentage_completion %>
        <tr>
          <td style="vertical-align: middle;"><%= image_tag tournament.logo_thumb if tournament.logo.attached? %></td>
          <td><%= link_to tournament.name, admin_tournament_path(tournament) %><%= raw(' <i class="fas fa-solid fa-star text-warning"></i>') if tournament.fp %></td>
          <td></td>
          <td class="project_progress">
            <div class="progress progress-sm">
              <div class="progress-bar bg-<%= percentage == 100 ? 'info' : 'green' %>" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%"></div>
            </div>
            <small>
              <%= percentage %>% Complete
            </small>
          </td>
          <td class="project-state">
            <%= status_badge(tournament) %>
          </td>
          <td class="project-actions text-right">
            <%= link_to admin_tournament_path(tournament), class: "btn btn-primary btn-sm" do %>
              <i class="fas fa-folder"></i>View
            <% end %>
            <%= link_to edit_admin_tournament_path(tournament), class: "btn btn-info btn-sm" do %>
              <i class="fas fa-pencil-alt"></i>Edit
            <% end %>
            <%= link_to tournament_admin_tournaments_players_path(tournament), class: "btn btn-success btn-sm" do %>
              <i class="fas fa-pencil-alt"></i>Players
            <% end %>
            <%= link_to admin_tournament_path(tournament), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
