<p id="notice"><%= notice %></p>

<% content_for :page_title do %>Tournaments<% end %>
<table class="table table-bordered table-hover text-nowrap">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, admin_tournament_path(tournament) %></td>
        <td><%= link_to 'Standings', round_admin_standings_path(tournament, tournament.completed_round)  %></td>
        <td><%= tournament.completed_round == tournament.rounds ? "Completed" : "On going" %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Tournament', new_admin_tournament_path %>
