
<% content_for :page_title do %>Tournament: <%= @admin_tournament.name %><% end %>
<% breadcrumb :tournament, @admin_tournament %>

<div class="row">
  <div class="col-md-4">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <%= image_tag @admin_tournament.logo_url, class: "profile-user-img img-fluid img-circle", alt: "Tournament logo" %>
        </div>

        <h3 class="profile-username text-center"><%= @admin_tournament.name %></h3>

        <p class="text-muted text-center"><%= @admin_tournament.description %></p>

        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Date</b> <span class="float-right"><%= @admin_tournament.date.strftime("%A, %B %d, %Y") %></span>
          </li>
          <li class="list-group-item">
            <b>Players</b> 
            <%= link_to @admin_tournament.players.size, tournament_admin_tournaments_players_path(@admin_tournament), class: "float-right" %>
          </li>
          <li class="list-group-item">
            <b>Rated</b> <span class="float-right"><%= @admin_tournament.rated ? "yes" : "no" %></span>
          </li>
          <li class="list-group-item">
            <b>Status</b> <span class="float-right"><%= status_badge(@admin_tournament) %></span>
          </li>
        </ul>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div> <!-- /.col -->
  <div class="col-md-8">
    <!-- About Me Box -->
    <div class="card card-primary card-outline">
      <!-- /.card-header -->
      <div class="card-body">
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Venue</strong>

        <p class="text-muted">
          <% @admin_tournament.location.split("\n").each_with_index do |line,idx| %>
            <div class="text-muted" style="font-size: 0.85em"><%= line %></div>
          <% end %>
        </p>
        <hr>
        <strong><i class="fa fa-solid fa-users mr-1"></i> Groups</strong>

        <p class="text-muted">
          <% @admin_tournament.groups.each do |group| %>
            <%= link_to group.name, group_show_admin_tournaments_path(@admin_tournament, group), target: :_blank %>
            <%= ' | ' unless group == @admin_tournament.groups.last %>
          <% end %>
        </p>
        <hr>
        <% if @admin_tournament.groups.count == 1 and @admin_tournament.groups.first.players.count > 0 and @admin_tournament.groups.first.current_round == 0 %>
          <%= link_to start_group_admin_tournaments_path(@admin_tournament, @admin_tournament.groups.first), method: :patch, class: "btn btn-primary btn-sm" do %>
              <i class="fas fa-flag-checkered"></i> Start
          <% end %>
        <% end %>
        <%= link_to edit_admin_tournament_path(@admin_tournament), class: "btn btn-info btn-sm" do %>
            <i class="fas fa-pencil-alt"></i> Edit
        <% end %>
        <%= link_to tournament_admin_tournaments_players_path(@admin_tournament), class: "btn btn-success btn-sm" do %>
            <i class="fas fa-pencil-alt"></i> Players
        <% end %>
        <%= link_to groups_admin_tournaments_path(@admin_tournament), class: "btn btn-info btn-sm" do %>
            <i class="fas fa-pencil-alt"></i> Groups
        <% end %>

      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->
</div> <!-- /.row -->
