<p id="notice"><%= notice %></p>
<% content_for :page_title do %>Player Data<% end %>
        <div class="row">
          <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">

                <h3 class="profile-username text-center"><%= @admin_player.name %></h3>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Canichess Rating</b> <span class="float-right"><%= @admin_player.rating %></span>
                  </li>
                  <li class="list-group-item">
                    <b>FIDE ID</b> <span class="float-right"><%= @admin_player.fide_id %></span>
                  </li>
                  <li class="list-group-item">
                    <b>Email</b> <span class="float-right"><%= @admin_player.email %></span>
                  </li>
                  <li class="list-group-item">
                    <b>Phone Number</b> <span class="float-right"><%= @admin_player.phone %></span>
                  </li>
                  <li class="list-group-item">
                    <b>Graduation Year</b> <span class="float-right"><%= @admin_player.graduation_year %></span>
                  </li>
                  <li class="list-group-item">
                    <b>Affiliation</b> <span class="float-right"><%= @admin_player.affiliation %></span>
                  </li>
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div> <!-- /.col -->
        </div>

<%= link_to 'Edit', edit_admin_player_path(@admin_player) %> 
