<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div style="background:transparent !important" class="text-center">
          <% if @simul %>
            <%= render 'show_header', simul: @simul %>
            <hr>
            <h3 class="display-6">by: <%= @simul.simulgivers %></h3>
            <hr>
            <%= render 'simul', simul: @simul %>
          <% else %>
            <h1 class="display-6">Hello, fellow Canisians!</h1>
            <%= image_tag("logo-canichess-transparent.png", alt: "Canichess Logo", style: "max-width: 40%; opacity: .8") %>
          <% end %>
          <p class="lead">
          <%= front_page_button_for_simul(@simul) %>
          </p>
        </div>
      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @simul.sponsors.each_with_index do |sponsor,idx| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= idx %>"<% if idx == 0 %> class="active"<% end %>></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @simul.sponsors.each_with_index do |sponsor,idx| %>
              <div class="carousel-item<% if idx == 0 %> active<% end %>">
                <%= link_to image_tag(sponsor.logo, alt: sponsor.name, class: "d-block w-100"), sponsor.url, target: "_blank" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-custom-icon" aria-hidden="true">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-custom-icon" aria-hidden="true">
              <i class="fas fa-chevron-right"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div> <!-- /.row -->
