<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div style="background:transparent !important" class="text-center">
          <% if @simul %>
            <%= render 'show_header', simul: @simul %>
            <hr>
            <h3 class="display-6">by: <%= @simul.simulgivers %></h3>
            <hr>
            <%= render 'simul', simul: @simul %>
          <% else %>
            <h1 class="display-6">Hello, fellow Canisians!</h1>
            <%= image_tag("logo-canichess-transparent.png", alt: "Canichess Logo", style: "max-width: 40%; opacity: .8") %>
          <% end %>
          <p class="lead">
          <%= front_page_button_for_simul(@simul) %>
          </p>
          <%= render 'base/gmap', eventable: @simul %>
        </div>
      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'base/sponsors_carousel', eventable: @simul %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div> <!-- /.row -->
