<%= form_with(model: tournament, url: create_preview_admin_tournaments_players_path(tournament), html: { method: :post }) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="form-group row">
      <%= form.label :upload_players, "Players", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <div class="input-group">
          <div class="custom-file">
            <%= form.file_field :players_file, class: "custom-input-file", accept: "text/plain", disabled: false %>
            <%= form.label :players_file,"Choose file", class: "custom-file-label", id: "tournament_players_file_label" %>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" onclick="window.location.href='<%= tournament_admin_tournaments_players_path(tournament) %>'" class="btn btn-default float-right" name="cancel">Cancel</button>
  </div>

<% end %>
