<%= form_with(model: tournament, url: update_players_admin_tournaments_path(tournament), html: { method: :patch, onsubmit: "updateHiddenField()" }) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <%= render 'players_preview_table', players: new_players, selected: selected, groups: groups, form: form %>
  </div>

  <div class="card-footer">
    <div id="hidden-fields-container"></div>
    <%= form.hidden_field :player_names, multiple: true %>
    <!-- Add hidden fields for group_ids -->
    <% groups.each do |group_id| %>
      <%= form.hidden_field :group_ids, value: group_id, multiple: true %>
    <% end %>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-default float-right" name="cancel">Cancel</button>
  </div>

<% end %>
