<p id="notice"><%= notice %></p>

<% content_for :page_title do %>Tournament <%= link_to(@tournament.name, admin_tournament_path(@tournament)) %><% end %>

<div class="row">
<div class="col-md-6">
<div class="card card-primary card-outline">
<div class="card-body table-responsive p-0">
<table class="table table-bordered table-hover text-nowrap">
  <thead>
    <tr>
      <th style="width: 1%">#</th>
      <th>Name</th>
      <th style="text-align:center; width: 8%">Points</th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments_players.each_with_index do |player,idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= link_to(player.name, admin_tournaments_player_path(player)) %> 
            <% if player.blacklisted %><i class="fa fa-ban" aria-hidden="true" style="color:red"></i><% end %>
        </td>
        <td style="text-align:center;"><%= player.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
