<p id="notice"><%= notice %></p>

<% content_for :page_title do %>Tournament <%= link_to(@tournament.name, admin_tournament_path(@tournament)) %><% end %>

<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-body table-responsive p-0">
<table class="table table-bordered table-hover text-nowrap">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th style="text-align:center;">Points</th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments_players.each_with_index do |player,idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= player.name %></td>
        <td style="text-align:center;"><%= player.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
