
<% content_for :page_title do %>
   Tournament: <%= link_to @tournaments_player.tournament.name + " - " + @tournaments_player.group.name, 
  group_show_admin_tournaments_path(@tournaments_player.tournament, @tournaments_player.group) %>
<% end %>
<div class="row">
<div class="col-md-6">
<div class="card card-primary card-outline">
<div class="card-header">
  <h3 class="card-title text-info"><%= @tournaments_player.name %> <%= blacklisted_icon(@tournaments_player) %></h3>

<%= button_to "Withdraw", admin_tournaments_player_path(@tournaments_player), form_class: "form-horizontal", method: :patch, 
              disabled: @tournaments_player.blacklisted,
              data: { confirm: "Are you sure?" }, class: "btn btn-warning float-right", params: {"tournaments_player[blacklisted]": "true"} %>

</div>
<div class="card-body table-responsive p-0">
<table class="table table-hover text-nowrap">
  <thead>
    <tr>
      <th style="width: 2%">Round</th>
      <th>White</th>
      <th>Black</th>
      <th style="text-align:center;">Result</th>
    </tr>
  </thead>

  <tbody>
  <% (1..@tournaments_player.group.rounds).each do |round| %>
    <tr>
    <% board = @games[round - 1] %>
    <% if round <= @games.size %>
      <td><%= link_to board.round, round_admin_boards_path(@tournaments_player.tournament, board.round) %></td>
      <td <%= same_player?(@tournaments_player, board.white) ? raw('class="text-info"') : ''  %>><%= board.white ? board.white.name : '<BYE>' %></td>
      <td <%= same_player?(@tournaments_player, board.black) ? raw('class="text-info"') : ''  %>><%= board.black ? board.black.name : '<BYE>' %></td>
      <td style="text-align:center;"><%= chess_result(@tournaments_player.group, board) %> <% if board.walkover %><span class="badge bg-danger">WO</span> <% end %>
        <% if board.result and board.result == 'noshow' %><span class="badge bg-warning">no-show</span> <% end %>
      </td>
    <% else %>
      <td><%= round %></td><td/><td/><td/>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
