<div class="row">
  <div class="col-12 d-flex align-items-center">
    <% sponsors_half = (tournament.sponsors.count.to_f / 2).ceil %>
    <!-- Left section with centered carousel -->
    <div class="d-none d-md-flex align-items-center justify-content-center" style="flex: 1;">
      <div style="max-width: 200px; min-width: 100px;">
        <%= render 'base/sponsors_carousel', sponsors: tournament.sponsors[0..(sponsors_half - 1)] %>
      </div>
    </div>

    <!-- Center: Logo and Title -->
    <div class="d-flex align-items-center">
      <h2><%= image_tag(tournament.logo_url, alt: "Tournament Logo", style: "max-width: 100px; opacity: .8") %></h2>
      <div class="d-flex flex-column align-items-center ms-3 p-3">
        <h2 class="mb-1 mt-2"><%= tournament.name %></h2>
        <h5>Standings after Round <%= round %></h5>
        <div>
          <h4>
            <% if tournament.groups.count > 1 %>
              <a class="nav-link info dropdown-toggle" data-toggle="dropdown" href="#">
                <%= group.name %> <span class="caret"></span>
              </a>
              <div class="dropdown-menu">
              <% tournament.groups.each do |this_group| %>
                <%= link_to(this_group.name, 
                            group_standings_tournaments_path(tournament, this_group, round) + 
                            (params[:full] && params[:full] == "1" ? "?full=1" : ""),
                            class: "dropdown-item") %>
              <% end %>
              </div>
            <% end %>
          </h4>
        </div>
      </div>
    </div>

    <!-- Right section with centered carousel -->
    <div class="d-none d-md-flex align-items-center justify-content-center" style="flex: 1;">
      <div style="max-width: 200px; min-width: 100px;">
        <%= render 'base/sponsors_carousel', sponsors: tournament.sponsors[sponsors_half..] %>
      </div>
    </div>
  </div>
</div>
