  <% if tournament.date %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-2">
        <i class="fa fa-calendar mr-1"></i>
      </div>
      <div class="col-xs-10" style="padding-left: 10px;"> 
        <%= tournament.date.strftime("%A, %B %d, %Y") %>
      </div>
    </div>  
  </div>
  <hr/>
  <% end %>

  <% if tournament.location %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-10" style="padding-left: 10px;">
        <% tournament.location.split("\n").each_with_index do |line,idx| %>
          <% if idx > 0 %>
          <div style="font-size: 0.85em"><%= line %></div>
          <% else %>
          <div><i class="fas fa-map-marker-alt mr-1"></i><span style="padding-left: 10px;"><%= line %></span></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-2">
        <i class="fa fa-solid fa-users mr-1"></i>
      </div>
      <div class="col-xs-10" style="padding-left: 10px;">
        <% if group.nil? %>
          <% if tournament.players.count > 0 %>
            <%= link_to tournament.players.count, players_tournaments_path(tournament) %> registered participants
          <% else %>
            No registered participants yet
          <% end %>
        <% else %>
          <% if group.tournaments_players.count > 0 %>
            <%= link_to group.tournaments_players.count, group_players_tournaments_path(tournament, group) %> registered participants
          <% else %>
            No participants in this group yet
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr /> <!--class="hidden-mobile"/> -->
