<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div style="background:transparent !important" class="text-center">
          <% if @tournament %>
            <%= render 'show_header', tournament: @tournament, group: @group %>
            <hr>
            <%= render 'tournament', tournament: @tournament, group: @group %>
          <% else %>
            <h1 class="display-6">Hello, fellow Canisians!</h1>
            <%= image_tag("logo-canichess-transparent.png", alt: "Canichess Logo", style: "max-width: 40%; opacity: .8") %>
          <% end %>
          <div class="d-flex flex-column flex-md-row justify-content-center" style="gap: 1rem;">
            <%= render 'subscribe_button', tournament: @tournament %>
            <%= front_page_button(@tournament, @group) %>
          </div>
          <hr />
          <%= render 'base/gmap_ajax', eventable: @tournament %>
        </div>
      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'base/sponsors_carousel', eventable: @tournament %>
      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->
</div> <!-- /.row -->
