<% if @tournament_player.nil? %>
  <% content_for :page_title do %> <%= @tournament.name %> - <small>Error</small><% end %>
  <p class="lead">Oops! Player not found.</p>
<% else %>
  <%= render 'player_header', tournament: @tournament, group: @tournament_player.group %>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <!-- Custom Tabs -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"><%= @tournament_player.name %>
            <% if @tournament_player.player.fide_data %>
            <span class="badge bg-info" data-toggle="modal" data-target="#modal-default"><small>FIDE</small></span>
            <% end %></h3>
          <div class="text-right" style="font-size: 0.8em;">Points: <%= @tournament_player.points %></div>
        </div>
        <div class="card-body table-responsive p0">
          <table class="table table-bordered table-striped text-nowrap">
            <thead>
              <tr>
                <th style="width: 2%">Rd</th>
                <th style="width: 2%">Brd #</th>
                <th>White</th>
                <th>Black</th>
                <th style="text-align:center;">Result</th>
              </tr>
            </thead>
            <tbody>
            <% group = @tournament_player.group %>
            <% rounds = group ? group.rounds : @tournament.rounds %>
            <% (1..rounds).each do |round| %>
              <tr>
              <% board = @games.where(round: round).first %>
              <%# next unless board %>
              <% if board.nil? %>
                <td class="text-center"><%= round %></td><td/><td/><td/><td/>
              <% else %> <%#if round <= @games.size %>
              <%# if round <= @games.size %>
                <td class="text-center">
                  <% if group %>
                    <%= link_to round, group_pairings_tournaments_path(@tournament, group, round) %>
                  <% else %>
                    <%= link_to board.round, pairings_tournaments_path(@tournament, round) %>
                  <% end %>
                </td>
                <td class="text-center"><%= board.number %></td>
                <% if same_player?(@tournament_player, board.white) %>
                  <td><%= board.white.name %></td>
                <% else %>
                  <td><%= board.white ? link_to("#{board.white.name} (#{board.white.points})", player_tournaments_path(board.white)) : '<BYE>' %></td>
                <% end %>
                <% if same_player?(@tournament_player, board.black) %>
                  <td><%= board.black.name %></td>
                <% else %>
                  <td><%= board.black ? link_to("#{board.black.name} (#{board.black.points})", player_tournaments_path(board.black)) : '<BYE>' %></td>
                <% end %>
                <td style="text-align:center;"><%= chess_result(board.result) %><% if board.walkover %> <span class="badge bg-danger">WO</span><% end %></td>
              <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /.col -->
  </div> <!-- /.row -->

  <%= render 'fide_dialog', tournament_player: @tournament_player %>

<% end %>
