<% if @players_1.empty? %>
  <% content_for :page_title do %> <%= @tournament.name %> - <small>Participants</small><% end %>
  <p class="lead">Oops! Participants not available yet. Please check again later.</p>
<% elsif @players_2.empty? %>
  <%= render('players_1_col', players: @players_1, tournament: @tournament) %>
<% else %>
  <% content_for :page_title do %>
    <%= image_tag(@tournament.logo_url, alt: "Tournament Logo", style: "max-width: 10%; opacity: .8") %>
    <%= @tournament.name %>
  <% end %>
  <%= render('players_2_col', players_1: @players_1, players_2: @players_2, 
                              tournament: @tournament, half_of_players: @half_of_players) %>
<% end %>
