<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">

        <div style="background:transparent !important" class="text-center">
          <% if @tournament %>
            <%= render 'show_header', tournament: @tournament, group: nil %>
            <hr>
            <%= render 'tournament', tournament: @tournament, group: nil %>
            <%= render 'base/gmap_ajax', eventable: @tournament %>
          <% else %>
            <h1 class="display-6">Hello, fellow Canisians!</h1>
            <%= image_tag("logo-canichess-transparent.png", alt: "Canichess Logo", style: "max-width: 40%; opacity: .8") %>
          <% end %>
          <p class="lead">
          <%= front_page_button(@tournament) %>
          </p>
        </div>
      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div> <!-- /.col -->

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'base/sponsors_carousel', eventable: @tournament %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div> <!-- /.row -->
