<% if @standings.empty? %>
  <% content_for :page_title do %> <%= @tournament.name %> - <small>Standings</small><% end %>
  <p class="lead">Oops! Standings not available yet. Please check again later.</p>
<% else %>
  <% title @tournament.name + " - #{@tournament.groups.count > 1 ? @group.name : ''}" %>
  <% description "Standings after Round #{@round}" %>

  <% if @round == @group.rounds %>
    <%# content_for :page_title do %>
      <%= render 'standings_header', tournament: @tournament, group: @group, round: @round %>
    <%# end %>
    <% if @group.is_swiss_system? %>
      <%= render 'final_standings', tournament: @tournament, standings: @standings, group: @group, round: @round %>
    <% else %>
      <%= render 'crosstable', tournament: @tournament, standings: @standings, group: @group, round: @round %>
    <% end %>
  <% else %>
    <%= render 'standings_header', tournament: @tournament, group: @group, round: @round %>

    <%# use two columns for long list of standings %>
    <% if @standings.size > 15 %>
      <% half_of_standings = (@standings.size.to_f / 2).ceil %>
      <%= render 'standings_progress_2_col', standings_1: @standings[0..(half_of_standings - 1)], 
                                             standings_2: @standings[half_of_standings..], 
                                             group: @group, round: @round %>
    <% else %>
      <%= render 'standings_progress_1_col', standings: @standings, 
                                             group: @group, round: @round %>
    <% end %>
  <% end %>
<% end %>
