<%= form_with(model: board, url: admin_board_path(board)) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this admin_board from being saved:</h2>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

            <%= form.hidden_field :tournament_id, value: board.tournament.id %>
            <%= form.hidden_field :round, value: board.round %>
            <%= form.hidden_field :white_id, value: board.white.id %>
            <%= form.hidden_field :black_id, value: board.black.id %>
            <%= form.hidden_field :number, value: board.number %>

<%= render 'form_board', form: form, opt_result: "white", is_disabled: false %>
<%= render 'form_board', form: form, opt_result: "black", is_disabled: false %>
<%= render 'form_board', form: form, opt_result: "draw", is_disabled: false %>

  <% form.hidden_field :result, value: "white" %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
