<table class="table table-striped table-hover text-nowrap">
  <thead>
    <tr>
      <th style="width: 1%">#</th>
      <th>White</th>
      <th>Black</th>
      <th colspan="4" style="text-align:center;">Result</th>
      <th> Winning by W.O. ?</th>
    </tr>
  </thead>

  <tbody>
    <% boards.each_with_index do |board, idx| %>
      <% is_board_disabled = board.contains_bye? %>
      <tr>
        <td id="td_board_<%= board.id %>" <%= board.result.nil? ? raw('class="bg-warning"') : '' %>><%= board.number %></td>
        <td><%= board.white ? link_to(board.white.name + " (#{board.white.rating})", admin_tournaments_player_path(board.white)) : '<BYE>' %> <%= points(board.white, board.round) %></td>
        <td><%= board.black ? link_to(board.black.name + " (#{board.black.rating})", admin_tournaments_player_path(board.black)) : '<BYE>' %> <%= points(board.black, board.round) %></td>
        <%= form_for(board, url: admin_board_path(board), method: :patch, html: { role: "form"}) do |f| %>
        <td>
          <%= render 'form_board', form: f, tournament: board.tournament, round: board.round, opt_label: "white", opt_result: "white", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, tournament: board.tournament, round: board.round, opt_label: "black", opt_result: "black", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, tournament: board.tournament, round: board.round, opt_label: "draw", opt_result: "draw", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, tournament: board.tournament, round: board.round, opt_label: "no-show", opt_result: "noshow", is_disabled: is_board_disabled %>
        </td>
        <td class="text-center">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :walkover, id: "board_walkover_#{board.id}", class: "custom-control-input", onchange: 'updateCheckBox(this)' %>
              <%= f.label :walkover, 'W.O.', for: "board_walkover_#{board.id}", class: "custom-control-label" %>
            </div>
          </div>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
