<table class="table table-striped table-hover text-nowrap">
  <thead>
    <tr>
      <th style="width: 1%">#</th>
      <th>White</th>
      <th>Black</th>
      <th colspan="4" style="text-align:center;">Result</th>
    </tr>
  </thead>

  <tbody>
    <% boards.each_with_index do |board, idx| %>
      <% is_board_disabled = board.contains_bye? %>
      <tr>
        <td><%= board.number %></td>
        <td><%= board.white ? link_to(board.white.name, admin_tournaments_player_path(board.white)) : '<BYE>' %> <%= points(board.white, board.round) %></td>
        <td><%= board.black ? link_to(board.black.name, admin_tournaments_player_path(board.black)) : '<BYE>' %> <%= points(board.black, board.round) %></td>
        <%= form_for(board, url: admin_board_path(board), method: :patch, html: { role: "form"}) do |f| %>
        <td>
          <%= render 'form_board', form: f, board: board, tournament: board.tournament, round: board.round, opt_result: "white", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, board: board, tournament: board.tournament, round: board.round, opt_result: "black", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, board: board, tournament: board.tournament, round: board.round, opt_result: "draw", is_disabled: is_board_disabled %>
        </td>
        <td>
          <%= render 'form_board', form: f, board: board, tournament: board.tournament, round: board.round, opt_result: "noshow", is_disabled: is_board_disabled %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
