<% content_for :page_title do %>Tournament: <%= link_to @tournament.name, admin_tournament_path(@tournament) %>
<br/><small> <%= optional_group_name(@group) %> - Round <%= @round %> </small><% end %>
<% breadcrumb :pairings, @group, @round %>

<% is_round_completed = @group.completed_round >= @round %>

<%= render 'buttons', tournament: @tournament, group: @group, round: @round, is_round_completed: is_round_completed %>

<div class="row">
  <div class="col-md-10">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Pairings for Round <%= @round %></h3>
      </div>
      <div class="card-body">
        <% if is_round_completed %>
          <%= render 'completed_table', boards: @boards, group: @group %>
        <% else %>
          <%= render 'in_progress_table', boards: @boards, group: @group %>
        <% end %>
      </div>
    </div> <!-- ./card -->
  </div>
</div>
