<p id="notice"><%= notice %></p>

<% content_for :page_title do %>Tournament: <%= link_to @tournament.name, admin_tournament_path(@tournament) %>
Round <%= @round %><% end %>
<% is_round_completed = @tournament.completed_round >= @round %>

  <% if is_round_completed %>
  <div class="row">
    <%= button_to "Finalize this round", start_admin_tournaments_path(@tournament), method: :patch, class: "btn btn-secondary disabled", disabled: true %>
    <%= button_to "Standings", round_admin_standings_path(@tournament, @round), method: :get, class: "btn btn-primary" %>
  </div>
  <% else %>
<%= form_tag(start_admin_tournaments_path(@tournament), {method: :patch, class: "form-horizontal", role: "form"}) do %>
    <%# if this round is not completed, check if all boards have finished %>
    <% if @tournament.all_boards_finished?(@round) %>
    <button type="submit" class="btn btn-primary">Finalize this round</button>
    <% else %>
    <button type="submit" id="finalize_enabled" class="btn btn-primary" style="display: none;">Finalize this round</button>
    <button type="submit" id="finalize_disabled" class="btn btn-secondary disabled" disabled>Finalize this round</button>
    <% end %>
  <% end %>
<% end %>

<br/>

<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-body table-responsive p-0">

<% if is_round_completed %>
  <%= render 'completed_table', boards: @boards %>
<% else %>
  <%= render 'in_progress_table', boards: @boards %>
<% end %>
</div>
</div>
</div>
</div>
