<p id="notice"><%= notice %></p>

<% content_for :page_title do %>Tournament: <%= @tournament.name %>
Round <%= @round %><% end %>
<% is_round_completed = @tournament.completed_round >= @round %>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-body table-responsive p-0">

<% if is_round_completed %>
  <%= render 'completed_table', boards: @boards %>
<% else %>
  <%= render 'in_progress_table', boards: @boards %>
<% end %>
</div>
</div>
</div>
</div>
