<% breadcrumb :simul_players, @simul %>

<% content_for :page_title do %>Simul <%= link_to(@simul.name, admin_simul_path(@simul)) %><% end %>

<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <%= button_to new_admin_simuls_players_path(@simul), form_class: "form-horizontal",
          method: :get, class: "btn btn-block btn-primary btn-lg float-right" do %>
          <i class="fas fa-plus"></i><span> Add Player
      <% end %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <%= button_to upload_admin_simuls_players_path(@simul), form_class: "form-horizontal",
          method: :get, class: "btn btn-block btn-success btn-lg float-right" do %>
          <i class="fas fa-upload"></i><span> Upload Players File
      <% end %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <%= button_to update_colors_admin_simuls_path(@simul), form_class: "form-horizontal",
          method: :patch, class: "btn btn-block btn-warning btn-lg float-right" do %>
          <i class="fas fa-chess-board"></i><span> Assign Playing Colors
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card card-primary card-outline">
      <div class="card-body table-responsive p-0">
        <table class="table table-bordered table-hover text-nowrap">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th>Name</th>
              <th style="text-align:center; width: 8%">Result</th>
              <th style="text-align:center">Playing color</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>

          <tbody>
            <% @simuls_players.each_with_index do |player,idx| %>
              <tr>
                <td style="vertical-align: middle;" class="text-right"><%= player.number %></td>
                <td style="vertical-align: middle;"><%= render 'number_buttons', simul_player: player %> <%= player.name %> (ID: <%= player.player.id %> Rtg: <%= player.player.rating %>)</td>
                <td style="vertical-align: middle;" class="text-center"><%= player.result %></td>
                <td style="vertical-align: middle;" class="text-center"><%= player.color %></td>
                <td class="text-center">
                  <%= link_to admin_simuls_player_path(player), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
                    <i class="fas fa-trash"></i> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- ./card-body -->
    </div> <!-- ./card -->
  </div> <!-- ./col -->
</div>
