          <div class="col-lg-6">
            <div class="card card-primary">
              <div class="card-header d-flex p-0">
                <%= render 'select_pairings_by_rounds', tournament: tournament, round: round %> 
              </div>
              <div class="card-body table-responsive p0">
                <table class="table table-bordered table-striped text-nowrap">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th>White</th>
                      <th style="width: 5%">Result</th>
                      <th>Black</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% boards.each_with_index do |board, idx| %>
                    <tr>
                      <td><%= board.number %></td>
                      <td><% if board.white %>
                        <%= link_to board.white.name, player_path(board.white), class: "text-white" %> <%= points(board.white, board.round) %>
                        <span style="padding-right: 10px;" class="text-warning"><small><%= board.white.start_rating %></small></span>
                      <% else %>
                        &lt;BYE&gt;
                      <% end %>
                      </td>
                      <td id="res_<%= board.id %>" style="text-align:center;"><%= chess_result(board.result) %><% if board.walkover %> <span class="badge bg-danger">WO</span><% end %></td>
                      <td><% if board.black %>
                        <%= link_to board.black.name, player_path(board.black), class: "text-white" %> <%= points(board.black, board.round) %>
                        <span style="padding-right: 10px;" class="text-warning"><small><%= board.black.start_rating %></small></span>
                      <% else %>
                        &lt;BYE&gt;
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
