      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header d-flex p-0">
                <%= render 'tabs_rounds', tournament: tournament, round: round %> 
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th>White</th>
                      <th style="width: 5%">Result</th>
                      <th>Black</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% boards_1.each_with_index do |board, idx| %>
                    <tr>
                      <td><%= board.number %></td>
                      <td><%= board.white ? board.white.name : '<BYE>' %> <%= points(board.white, board.round) %></td>
                      <td style="text-align:center;"><%= chess_result(board.result) %></td>
                      <td><%= board.black ? board.black.name : '<BYE>' %> <%= points(board.black, board.round) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div> <!-- .card-body -->
            </div> <!-- .card -->
          </div> <!-- .col-md-6 -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header d-flex p-0">
                <%= render 'tabs_rounds', tournament: tournament, round: round %> 
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th>White</th>
                      <th style="width: 5%">Result</th>
                      <th>Black</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% boards_2.each_with_index do |board, idx| %>
                    <tr>
                      <td><%= board.number %></td>
                      <td><%= board.white ? board.white.name : '<BYE>' %> <%= points(board.white, board.round) %></td>
                      <td style="text-align:center;"><%= chess_result(board.result) %></td>
                      <td><%= board.black ? board.black.name : '<BYE>' %> <%= points(board.black, board.round) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div> <!-- .card-body -->
            </div> <!-- .card -->
          </div> <!-- .col-md-6 -->
        </div> <!-- .row -->
      </div> <!-- .container-fluid -->
