<div class="row">
          <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card card-primary">
              <div class="card-header d-flex p-0">
                <%= render 'select_standings_by_rounds', tournament: tournament, round: round %> 
              </div>
              <div class="card-body table-responsive p0">
                <table class="table table-bordered table-striped text-nowrap">
                  <thead>
                    <tr>
      <th class="text-center" style="width: 2%">#</th>
      <th>Name</th>
      <th class="text-center" >Pts</th>
      <th class="text-center" >TB 1</th>
      <th class="text-center" >TB 2</th>
      <th class="text-center" >TB 3</th>
      <th class="text-center" >TB 4</th>
      <th class="text-center" style="width: 2%">TB 5</th>
                    </tr>
                  </thead>
                  <tbody>
    <% standings.each_with_index do |standing, idx| %>
      <tr>
        <td class="text-right"><%= idx + 1 %></td>
        <td><%= standing.tournaments_player.name %> <%= winner_icon(idx + 1) %> <%= blacklisted_icon(standing) %></td>
        <td class="text-center" ><%= standing.points %></td>
        <td class="text-center" ><%= standing.median %></td>
        <td class="text-center" ><%= standing.solkoff %></td>
        <td class="text-center" ><%= standing.cumulative %></td>
        <td class="text-center" ><%= standing.opposition_cumulative %></td>
        <td class="text-center" ><%= standing.playing_black %></td>
      </tr>
    <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>
