        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">

<div style="background:transparent !important" class="text-center">
  <h1 class="display-6"><%= @tournament ? @tournament.name : "Hello, world!" %></h1>
  <p class="lead"><%= @tournament ? @tournament.description : '' %></p>
  <hr>
  <% if @tournament && @tournament.date %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-2">
        <i class="fa fa-calendar mr-1"></i>
      </div>
      <div class="col-xs-10" style="padding-left: 10px;"> 
        <%= @tournament.date.strftime("%A, %B %d, %Y") %>
      </div>
    </div>  
  </div>
  <hr/>
  <% end %>

  <% if @tournament && @tournament.location %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-2">
        <i class="fas fa-map-marker-alt mr-1"></i>
      </div>
      <div class="col-xs-10" style="padding-left: 10px;">
        <% @tournament.location.split("\n").each_with_index do |line,idx| %>
          <% if idx > 0 %>
          <div style="font-size: 0.85em"><%= line %></div>
          <% else %>
          <div><%= line %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
  <% end %>

  <p class="lead">
  <%= front_page_button(@tournament) %>
  </p>
</div>
              </div> <!-- /.card-body -->
            </div> <!-- /.card -->
          </div> <!-- /.col -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">

                    <div class="carousel-item active">
                      <%= link_to image_tag("siree-slide.png", alt: "Siree Chess Cafe", class: "d-block w-100"), "https://instagram.com/sireechesscafe", target: "_blank" %>
                    </div>
                    <div class="carousel-item">
                      <%= link_to image_tag("coeyoe-slide.png", alt: "Coeyoe Clothing", class: "d-block w-100"), "https://instagram.com/coeyoe.id", target: "_blank" %>
                    </div>
                    <div class="carousel-item">
                      <%= link_to image_tag("gramps-slide.png", alt: "Gramps Cafe", class: "d-block w-100"), "https://gramps.id/", target: "_blank" %>
                    </div>
                    <div class="carousel-item">
                      <%= link_to image_tag("osk-slide.png", alt: "OSK Green Tea", class: "d-block w-100"), "https://www.oskgreentea.id/", target: "_blank" %>
                    </div>
                    <div class="carousel-item">
                      <%= link_to image_tag("meg-cheese-slide.png", alt: "MEG Cheese", class: "d-block w-100"), "https://megcheese.id/", target: "_blank" %>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-custom-icon" aria-hidden="true">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-custom-icon" aria-hidden="true">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div> <!-- /.row -->
