<div class="row">
  <div class="col-md-10">
    <div class="card card-primary card-outline">
      <div class="card-body table-responsive p-3">
        <table id="datatable_with_search" class="table table-bordered table-hover text-nowrap">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th>Logo</th>
              <th>Name</th>
              <th>URL</th>
              <th style="width: 20%"></th>
            </tr>
          </thead>
          <tbody>
          <% @admin_sponsors.each_with_index do |sponsor,idx| %>
            <tr>
              <td style="vertical-align: middle;" class="text-right"><%= idx + 1 %></td>
              <td style="vertical-align: middle;"><%= image_tag sponsor.logo_thumb if sponsor.logo.attached? %></td>
              <td style="vertical-align: middle;"><%= sponsor.name %></td>
              <td style="vertical-align: middle;"><%= sponsor.url %></td>
              <td style="vertical-align: middle;" class="project-actions text-center">
                  <%= link_to admin_sponsor_path(sponsor), class: "btn btn-primary btn-sm" do %>
                    <i class="fas fa-folder"></i>View
                  <% end %>
                  <%= link_to edit_admin_sponsor_path(sponsor), class: "btn btn-info btn-sm" do %>
                    <i class="fas fa-pencil-alt"></i>Edit
                  <% end %>
                  <%= link_to admin_sponsor_path(sponsor), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
                    <i class="fas fa-trash"></i> Delete
                  <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
