<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
Tournament: <%= link_to(@tournament.name, admin_tournament_path(@tournament)) %>
<br/>Group <%= link_to @group.name, group_show_admin_tournaments_path(@tournament, @group) %>
<% end %>

<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">
Standings after <%= link_to "Round #{@round}", group_admin_boards_path(@tournament, @group, @round) %>
    </h3>
  </div>
  <div class="card-body p0">
  <table class="table table-hover text-nowrap">
    <thead>
    <tr>
      <th style="width: 2%">Rank</th>
      <th>Name</th>
      <th>Points</th>
      <th>TB 1</th>
      <th>TB 2</th>
    </tr>
    </thead>

    <tbody>
    <% @standings.each_with_index do |standing, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= link_to(standing.tournaments_player.name + " (#{standing.tournaments_player.start_rating})", admin_tournaments_player_path(standing.tournaments_player)) %> <%= blacklisted_icon(standing) %></td>
        <td><%= standing.points %></td>
        <td><%= standing.sb %></td>
        <td><%= standing.playing_black %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
