<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= display_meta_tags site: "Canichess Alumni" %>
  <%= display_meta_tags og: {
      title: :title,
      site_name: :site,
      description: :description
    }
  %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="turbolinks-visit-control" content="reload">

  <%= favicon_link_tag asset_path('canichess.ico') %>
</head>

<body class="hold-transition layout-top-nav dark-mode">

<div class="wrapper">

  <!-- Navbar -->
  <% unless android_webview? %>
    <%= render 'base/top_nav/navbar', eventable: @tournament || @simul, group: @group, msconfig: @merged_standings_config %>
  <% end %>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%= render 'base/alert', group: @group %>
    <%= render 'base/top_nav/content_header' %>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
      <%= yield %>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Ad Maiorem Dei Gloriam
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023, 2024, 2025, 2026 <a href="/">Canichess Alumni</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

</body>
<script type="application/json" data-controller="android-menu" data-android-menu-target="menuData">
  <%= raw json_escape(generate_menu(@tournament || @simul, @group)) %>
</script>
</html>
